@import "tailwindcss";

:root {
  --font-geist: var(--font-geist-sans, system-ui, sans-serif);
}

html,
body {
  overflow-x: hidden;
  font-family: var(--font-geist);
}

@theme {
  --font-sans: var(--font-geist);
}
